@font-face {
    font-family: 'Victor';
    src: url('~/assets/fonts/VictorMono-Regular.woff2') format('woff2'),
         url('~/assets/fonts/VictorMono-Regular.woff') format('woff');
}
@font-face {
    font-family: 'VictorItalic';
    src: url('~/assets/fonts/VictorMono-Italic.woff2') format('woff2'),
         url('~/assets/fonts/VictorMono-Italic.woff') format('woff');
}

body {
    overflow: hidden;
}